#body{
  background: #ebeeff;
}

.test{
  margin-top: 20px;
  margin-left: 18%;
}

#nav1{
  height: 10%;
}

#align{
  font-size:22px
}

#align1{
  font-size: 18px;
}

.test2{
  margin-top:20px;
  margin-left: 40%
}
