<!DOCTYPE html>
{% extends 'my_portfolio/base.html' %}

{% block body_block %}

<div class="card test" style="width: 50%;margin-left:25%;margin-top:20px">
 <div class="card-body">
   <h5 class="card-title" id='align'>Ravi Kiran Pendli.</h5>
   <h6 class="card-subtitle mb-2 text-muted" id='align1'>Student.</h6>
   <p class="card-text" id='align1'>Data science and Machine Learning.</p>
 </div>
</div>

<div class="card test2" style="width: 50%;margin-top:10px;margin-left:25%">
<div class="card-body">
  <h5 class="card-title" id='align'>About Me</h5>
<p class="card-text" id='align1'>I am very intrested in data as it
is the main driving force of the new generation and in the future as well.<br>I have always loved data ,as in the insights they provide us with.<br>
Always looking for oppurtunities to get better, and make the people around me better.<br></p>
</div>
</div>


<div class="card test" style="width: 50%;margin-top:10px;margin-left:25%">
<div class="card-body">
<h5 class="card-title" id='align'>Intrests</h5>
<h6 class="card-subtitle mb-2 text-muted" id='align1'>Machine Learning</h6>
<p class="card-text" id='align1'>I like Machine learning, as it helps solving the prediction and classification problems of a organization.<br>
Many other applications such as Computer vision and NLP are also the problems that can be very easily solved using the Machine Algoritmhs.</p>
<br>
<h6 class="card-subtitle mb-2 text-muted" id='align1'>Deep Learning</h6>
<p class="card-text" id='align1'>A more advanced version of Machine Learning is the Deep learning.<br>Thes algorithms can provide the computer with a brain, so it can think on it's own and make decisions.<br>
When combined with other technologies such as Computer Vision and NLP it can be a very powerful tool.</p>
</div>
</div>

<div class="card test2" style="width: 50%;margin-top:10px;margin-left:25%">
<div class="card-body">
  <h5 class="card-title" id='align'>Education</h5>
  <h6 class="card-subtitle mb-2 text-muted" id='align1'>Masters Degree (CS)</h6>
<p class="card-text" id='align1'>2018-2020&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp75%<br>Bhavans Vivekananda College of Science, Humanities and Commerce.</p><br>

<h6 class="card-subtitle mb-2 text-muted" id='align1'>Bachelors Degree (CS)</h6>
<p class="card-text" id='align1'>2015-2018&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp72%<br>Bhavans Vivekananda College of Science, Humanities and Commerce.</p><br>
</div>
</div>

<div class="card test" style="width: 50%;margin-top:10px;margin-left:25%">
<div class="card-body">
<h5 class="card-title" id='align'>Additional Details</h5>
<p class="card-text" id='align1' >Love to play sports especially Basketball.</p>
<p class="card-text" id='align1'>I also like to take a lot of photos.</p>
<p class="card-text" id='align1'>I am also very interested in video editing and do while taking a break from coding.</p>
</div>
</div>


<div class="card test2" style="width:50%;margin-bottom:5%;margin-top:10px;margin-left:25%">
<div class="card-body">
<h5 class="card-title" id='align'>Projects</h5>
<p class="card-text" id='align1'>These are some projects I have worked on till now.</p>
<a class="btn btn-primary" href="https://github.com/ravikiran-ds?tab=repositories" role="button">Visit Project in Github</a>
<a class="btn btn-success" href=projects role="button">View Projects</a>

</div>
</div>
{% endblock %}
